@model SistemaMedico.Models.Usuario
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

}

@section CrearAtletaCss
{
    <link href="~/Recursos/plugins/dropify/dist/css/dropify.min.css" rel="stylesheet" />
    <!-- Bootstrap Select Css -->
    <link href="~/Recursos/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Recursos/css/notificacion.css" rel="stylesheet" />
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>REGISTRO DE ATLETAS</h2>
            </div>
            <div class="body">
                <form role="form" action="" method="post" autocomplete="off" enctype="multipart/form-data" novalidate="true">
                    <!--Nav tabs  -->
                    <ul class="nav nav-tabs customtab" role="tablist">
                        <li class="active"><a href="#tab1" data-toggle="tab">Datos Generales</a></li>
                        <li><a href="#tab2" data-toggle="tab">Dirrecion Y Correo</a></li>
                        <li><a href="#tab3" data-toggle="tab">Deporte y Categoria</a></li>
                        <li><a href="#tab4" data-toggle="tab">Datos</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1" role="tabpanel">
                            <fieldset>
                                <div class="row clearfix">
                                    <!-- Foto -->
                                    <div class="col-md-4 row ">
                                        <div class="form-group col-md-12">
                                            <div class="col-md-12 m-b-30">
                                                <label>Seleccione una fotografia</label>
                                            </div>
                                            <input type="file" name="foto" id="input-file-now" class="dropify" />
                                        </div>
                                    </div>
                                    <!-- Datos Iniciales -->
                                    <div class="row-clearfix col-md-8">
                                        <div class="col-md-3">
                                            <div class="form-group form-float ">
                                                <div class="form-line">
                                                    <input type="text" id="pnombre" style="text-transform: capitalize;" class="form-control" name="pnombre" value="">
                                                    <label class="form-label">Primer Nombre</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" id="snombre" style="text-transform: capitalize;" class="form-control" name="snombre" value="">
                                                    <label class="form-label">Segundo Nombre</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" id="papellido" style="text-transform: capitalize;" class="form-control" name="papellido" value="">
                                                    <label class="form-label">Primer Apellido</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-float ">
                                                <div class="form-line">
                                                    <input type="text" id="sapellido" class="form-control" style="text-transform: capitalize;" name="sapellido" value="">
                                                    <label class="form-label">Segundo Apellido</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="number" min="1" class="form-control" name="edad" value="" id="edad">
                                                    <label class="form-label">Edad</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" minlength="14" maxlength="14" name="numcedula" value="" id="numcedula">
                                                    <label class="form-label">Numero de Cedula</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <label>Genero</label>
                                            <div class="form-group">
                                                <select class="form-control" name="genero" id="Genero">
                                                    <option disable="true">Seleccione un Genero</option>
                                                    <option value="Masculino">Masculino</option>
                                                    <option value="Femenino">Femenino</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 m-t-5" id="dvembarazo" style="display:none;">
                                            <label>¿Esta embarazada?</label>
                                            <br>
                                            <div class="form-group">
                                                <input type="radio" id="radio_1" value="No" name="embarazo">
                                                <label for="radio_1">No</label>
                                                <input type="radio" id="radio_2" value="Si" name="embarazo">
                                                <label for="radio_2">Si</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="tab-pane p-20" id="tab2" role="tabpanel">
                            <fieldset>
                                <div class="row col-md-12 ">
                                    <div class="col-md-4">
                                        <div class="form-group form-float ">
                                            <div class="form-line">
                                                <input type="email" id="correoelec" class="form-control" name="correoe" value="">
                                                <label class="form-label">Correo Electronico</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" minlength="8" maxlength="8" class="form-control" id="telefonocelular" name="tcelular" value="">
                                                <label class="form-label">Telefono Celular</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" minlength="8" maxlength="8" class="form-control" name="tconvencional" id="telconven" value="">
                                                <label class="form-label">Telefono Convencional</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" id="direccion" name="direccion" value="">
                                                <label class="form-label">Direccion</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group col-md-4 ">
                                            @Html.DropDownList("country", ViewBag.country as List<SelectListItem>, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.DropDownList("State", new SelectList(string.Empty, "Value", "Text"), "--Seleccionar Municipio--", new { @class = "form-control p-0" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>¿Tiene Seguro?</label><br>
                                                <div>
                                                    <input type="radio" id="radio16" value="No" name="seguro">
                                                    <label for="radio16">No</label>
                                                    <input type="radio" id="radio17" value="Si" name="seguro">
                                                    <label for="radio17">Si </label>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#responsive-modalH" > Crear Hospital</button>
                                        </div>
                                        <div class="col-md-6" id="hosp" style="display:none;">
                                            <div class="form-group">
                                                @Html.DropDownList("Hospital", ViewBag.Hospital as List<SelectListItem>, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="tab-pane  p-20" id="tab3" role="tabpanel">
                            <fieldset>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.DropDownList("Deporte", ViewBag.Deporte as List<SelectListItem>, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.DropDownList("Categoria", new SelectList(string.Empty, "Value", "Text"), "--Seleccionar Categoria--", new { @class = "form-control p-0" })
                                        </div>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal"> Crear Categoria</button>
                                    </div>

                                </div>
                            </fieldset>
                        </div>
                        <div class="tab-pane p-20" id="tab4" role="tabpanel">
                            <fieldset>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="nombremadre" id="nombmadre" value="">
                                                <label class="form-label">Nombre de la madre</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" minlength="8" maxlength="8" class="form-control" name="telmadre" id="telmadre" value="">
                                                <label class="form-label">Telefono de la madre</label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="nombrepadre" id="nombrepadre" value="">
                                                <label class="form-label">Nombre del padre</label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" minlength="8" maxlength="8" class="form-control" name="telpadre" id="telpadre" value="">
                                                <label class="form-label">Telefono del padre</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="emergencia" id="emergencia" value="">
                                                <label class="form-label">En emergencia llamar a: </label>
                                            </div>
                                            <span class="help-block"><small>(Nombre)</small></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="diremergencia" id="diremergencia" value="">
                                                <label class="form-label">Direccion: </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fin Row-->
                                <div class="row col-md-12">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-danger waves-effect">
                                                <i class="material-icons">close</i>
                                                <span>Cancelar</span>
                                            </button>
                                            <button type="submit" class="btn bg-green waves-effect">
                                                <i class="material-icons">save</i>
                                                <span>Guardar</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <!--Fin Body-->
        </div>
    </div>
</div>


<!--Modal Categoria-->
<div class="modal fade" id="responsive-modal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 style="color:black;" class="modal-title">Crear Categoria</h4>
            </div>

            <div class="modal-body">
                <form id="form_Categoria" action="" method="POST" role="form">
                    <div class="modal-body">
                        <div class="form-group">
                            <select class="form-control p-0" name="c_deporte" id="select-deporte-categoria">
                                <option value="0" disable="true" selected="true">=== Seleccione un deporte ===</option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group form-float">
                            <div id="div_texto" class="form-line">
                                <input type="text" name="categoria_nombre" class="form-control" id="categoria_nombre">
                                <label for="categoria_nombre" class="form-label">Nombre de la Categoria</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger waves-effect waves-light " id="guardar_categoria">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal Hospital-->
<div id="responsive-modalH" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 style="color:black;" class="modal-title">Crear Hospital</h4>
            </div>
            <form class="floating-labels" action="" method="POST" id="form_hospital" role="form">
                <div class="modal-body">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" name="Hospital" class="form-control" id="hospitalnombre">
                            <label for="hospitalnombre" class="form-label">Nombre del Hospital</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-danger waves-effect waves-light " id="guardar_hospital">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section CrearAtletaScript
{
    <script src="~/Recursos/plugins/dropify/dist/js/dropify.min.js"></script>
    <script src="~/Recursos/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="~/Recursos/js/notificacion.js"></script>

    <!--Modal Hospital-->
    <script>
        $(document).ready(function () {
            // Basic
            $('.dropify').dropify();

            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove: 'Supprimer',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });

            // Used events
            var drEvent = $('#input-file-events').dropify();

            drEvent.on('dropify.beforeClear', function (event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });

            drEvent.on('dropify.afterClear', function (event, element) {
                alert('File deleted');
            });

            drEvent.on('dropify.errors', function (event, element) {
                console.log('Has Errors');
            });

            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify')
            $('#toggleDropify').on('click', function (e) {
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })
        });
    </script>
    <!--Hacer visible/invisible Div Genero-->
    <script type="text/javascript">
        $(function () {
            $('#Genero').on('change', generoFunc);
        });

        function generoFunc() {
            var value = $(this).val();
            if (value == "Femenino") {
                $("#dvembarazo").show();
            }
            else {
                $("#dvembarazo").hide();
            }

        }
    </script>
    <!--Hacer visible/invisible Div Hospital-->
    <script>
        $(document).ready(function () {
            $("#radio16").click(function () {
                $("#hosp").hide();
            });
            $("#radio17").click(function () {
                $("#hosp").show();
            });
        });
    </script>
    <!--Select Dinamico Deporte y Categoria-->
    <script type="text/javascript">
        $(function () {
            $('#select-deporte').on('change', categoriaSelec);
        });

        function categoriaSelec() {
            var Id_deporte = $(this).val();
            //Ajax
            $.get('/api/categoria/' + Id_deporte + '/categoria', function (data) {
                var html_select = '<option value="" disable>==Seleccione una Categoria==</option>';
                for (var i = 0; i < data.length; ++i) {
                    html_select += '<option value="' + data[i].id + '">' + data[i].categoria + '</option>';
                }
                $('#select-categoria').html(html_select);
            });

        }
    </script>
    <!--Select Dinamico Departamento y Muncipio-->
    <script type="text/javascript">
    $(document).ready(function () {
        $("#country").change(function () {
            $("#State").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getstate")',
                dataType: 'json',
                data: { id: $("#country").val() },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#State").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Fallo al cargar Departamento/Municipio.' + ex);
                }
            });
            return false;
        })
    });
    </script>
    <!--Select Dinamico Deporte y Categoria-->
    <script type="text/javascript">
    $(document).ready(function () {
        $("#Deporte").change(function () {
            $("#Categoria").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getsDeporte")',
                dataType: 'json',
                data: { id: $("#Deporte").val() },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#Categoria").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Fallo al cargar Deporte/Categoria.' + ex);
                }
            });
            return false;
        })
    });
    </script>
    <!--Form Hospital-->
    <script type="text/javascript">
        $(document).ready(function () {
            //cuando hagamos submit al formulario con id id_del_formulario
            //se procesara este script javascript
            $("#form_hospital").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr("action"),//action del formulario, ej:
                    //http://localhost/mi_proyecto/mi_controlador/mi_funcion
                    type: $(this).attr("method"),//el método post o get del formulario
                    data: $(this).serialize(),//obtenemos todos los datos del formulario
                    error: function () {
                        console.log("");
                    },
                    success: function (data) {
                        console.log("guardado Correctamente");
                        $("#responsive-modalH").modal('hide');
                        toastr.success("Hospital Guardado Correctamente");
                    }
                });
            });
        });
    </script>
    <!--Form Categoria-->
    <script type="text/javascript">
        $(document).ready(function () {
            //cuando hagamos submit al formulario con id id_del_formulario
            //se procesara este script javascript
            $("#form_Categoria").submit(function (e) {
                selector = $("#select-deporte-categoria").val();
                nombre = $("#categoria_nombre").val();
                e.preventDefault();
                // console.log(nombre);
                if (nombre === "" || nombre === " ") {
                    if (selector == 0) {
                        alert("no ha seleccionado un deporte");
                    }
                    $("#div_texto").addClass("focused error");
                }
                else {
                    $.ajax({
                        url: $(this).attr("action"),//action del formulario, ej:
                        //http://localhost/mi_proyecto/mi_controlador/mi_funcion
                        type: $(this).attr("method"),//el método post o get del formulario
                        data: $(this).serialize(),//obtenemos todos los datos del formulario
                        error: function () {
                            console.log(this.responseText);
                        },
                        success: function (data) {
                            //console.log(data);
                            $("#responsive-modal").modal('hide');
                            $('#form_Categoria').trigger("reset");
                            $("#categoria_nombre").blur();

                            //document.getElementById("#form_Categoria").reset();
                            MostrarNotificacion("Succes", "Categoria Guardada Correctamente", data.categoria, "../images/check.png");


                        }
                    });
                }
            });
        });
    </script>
}