@using SistemaMedico.Helper
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sistema Medico</title>
    <!-- Favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Recursos/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/Recursos/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Recursos/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="~/Recursos/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Recursos/css/style.css" rel="stylesheet">
    <link href="~/Recursos/css/styles.css" rel="stylesheet">


    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Recursos/css/themes/all-themes.css" rel="stylesheet" />
    @RenderSection("CrearAtletaCss", required: false)
    @RenderSection("ActualizarAtletaCss", required: false)
    @RenderSection("CrearExamenFisicoCss", required: false)
    @RenderSection("IndexCss", required: false)
</head>

<body class="theme-blue-grey">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Por Favor Espere...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">

                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html"> Sistema Medico</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                @*<video width="320" height="240" autoplay loop>
                        <source src="~/Image/LOGEB.mp4" type="video/mp4" />
                    </video>*@
                <div class="image">
                    <img src="~/Recursos/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Session["Nombre"].ToString()</div>
                    <div class="email">@Session["Correo"].ToString()</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Perfil</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="@Url.Action("LogOut", "Login")"><i class="material-icons">input</i>Cerrar sesion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">Menu</li>
                    @if (Session["ID_Rol"].ToString() == "1")
                    {
                        <li class="@Html.ActivePage("HomeAdmin", "Index")">
                            <a href="@Url.Action("Index", "HomeAdmin")">
                                <i class="material-icons">home</i>
                                <span>Inicio</span>
                            </a>
                        </li>
                    }
                    else if (Session["ID_Rol"].ToString() == "2")
                    {
                        <li class="@Html.ActivePage("HomeAdmin", "Vista")">
                            <a href="@Url.Action("Vista", "HomeAdmin")">
                                <i class="material-icons">home</i>
                                <span>Inicio</span>
                            </a>
                        </li>
                    }
                    <li class="@Html.ActivePage("Atleta", "Index")">
                        <a href="@Url.Action("Index", "Atleta")">
                            <i class="material-icons">account_box</i>
                            <span>Listado de Atletas</span>
                        </a>
                    </li>
                    <li style="display:none;" class="@Html.ActivePage("ExamenFisico", "Crear")">
                        <a href="@Url.Action("Crear", "ExamenFisico")">
                            <i class="material-icons">account_box</i>
                            <span>Listado de Atletas</span>
                        </a>
                    </li>
                    <li style="display:none;" class="@Html.ActivePage("HistorialMedico", "Crear")">
                        <a href="@Url.Action("Crear", "HistorialMedico")">
                            <i class="material-icons">account_box</i>
                            <span>Listado de Atletas</span>
                        </a>
                    </li>
                    <li style="display:none;" class="@Html.ActivePage("HistorialMedico", "Actualizar")">
                        <a href="@Url.Action("Actualizar", "HistorialMedico")">
                            <i class="material-icons">account_box</i>
                            <span>Listado de Atletas</span>
                        </a>
                    </li>
                    <li class="@Html.ActivePage("Atleta", "Crear")">
                        <a href="@Url.Action("Crear", "Atleta")">
                            <i class="material-icons">create</i>
                            <span>Registro de Atletas</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#" class="menu-toggle">
                            <i class="material-icons">account_circle</i>
                            <span>Usuarios</span>
                        </a>
                        <ul class="ml-menu">
                            <li class="@Html.ActivePage("Atleta", "Index")"><a href="">Lista de Usuarios</a></li>
                            <li class="@Html.ActivePage("Atleta", "Index")"><a href="">Crear Usuario</a></li>
                        </ul>
                    </li>
                    <li style="display:none;" class="@Html.ActivePage("Lesiones", "Index")">
                        <a href="@Url.Action("Index", "Lesiones")">
                            <i class="material-icons">accessible_forward</i>
                            <span>Lesiones</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; @DateTime.Now.Year <a href="http://con.org.ni" target="_blank">Comite Olimpico Nicaraguense</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">@RenderBody()</section>

    <!-- Jquery Core Js -->
    <script src="~/Recursos/plugins/jquery/jquery.min.js"></script>

    <!-- BootstraRecursos/p Core Js -->
    <script src="~/Recursos/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    @*<script src="~/Recursos/plugins/bootstrap-select/js/bootstrap-select.js"></script>*@

    <!-- Slimscroll Plugin Js -->
    <script src="~/Recursos/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/Recursos/plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="~/Recursos/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="~/Recursos/plugins/raphael/raphael.min.js"></script>
    <script src="~/Recursos/plugins/morrisjs/morris.js"></script>

    @RenderSection("CrearAtletaScript", required: false)
    @RenderSection("ActualizarAtletaScript", required: false)
    @RenderSection("CrearExamenFisicoScript", required: false)
    @RenderSection("CrearHistorialMedicoScript", required: false)
    @RenderSection("IndexScript", required: false)

    <!-- Custom Js -->
    <script src="~/Recursos/js/admin.js"></script>
    @*<script src="Recursos/js/pages/index.js"></script>*@

    <!-- Demo Js -->
    <script src="~/Recursos/js/demo.js"></script>
</body>

</html>